@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --font-sans: "Atkinson Hyperlegible";
  --font-mono: "IBM Plex Mono";
  /* Brand Colors */
  --color-accent-200: #fdd5b9;
  --color-accent-600: #FA892D;
  --color-accent-900: #c96820;
  --color-accent-950: #1E1E2E;
  /* Grayscale for dark mode */
  --color-gray-100: #f5f5f5;
  --color-gray-200: #e0e0e0;
  --color-gray-300: #b0b0b0;
  --color-gray-400: #737373;
  --color-gray-500: #595959;
  --color-gray-700: #333333;
  --color-gray-800: #1E1E2E;
  --color-gray-900: #0a0a0a;
}
